/* User.css */
.container {
  margin: 0 auto;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}
.icon:hover{
  cursor: pointer;

}
.error-class{
  font-size: 13px;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.content.blur {
  filter: blur(5px);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -500px; 
  height: 100%;
  width: 30rem;
  background-color: #fff;
  transition: all 0.6s ease-in;
  z-index: 9999;
  background-color:aliceblue;
}
.input-search{
  width: 350px;
  margin-bottom: 2px;
}
.sidebar-open {
  right: 0; /* Moves the sidebar into the visible area */
}
.StudentTableDiv{
min-height: 80vh;
  position: relative;
}
.pagination-buttons{
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  background: white;
}
.page-arrow:hover{
background-color: rgb(125, 158, 196);
}
.actions-student{
  min-width: 120px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
/* Style for the select input */
select {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Style for the input field */
input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Optional style for the dropdown */
.dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown div {
  padding: 4px;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: #f0f0f0;
}

.dropdown div.selected {
  background-color: #b3d4fc;
}


/* Optional style for the label */
label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

th,
td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #a5d5fd;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* 
button:hover {
  background-color: #45a049;
} */
.modal-dialog {
  max-width: 400px;
}

.modal-content {
  border-radius: 8px;
}

.modal-header {
  border-bottom: none;
}
@media(max-width:500px) {
  .sidebar{
    width: 25rem;
  }
  
}
@media(max-width:400px) {
  .sidebar{
    width: 22rem;
  }
  
}
@media(max-width:350px) {
  .sidebar{
    width: 19rem;
  }
  
}
.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
  justify-content: flex-end;
}
.coursetable-td{
  min-width: 200px;
}

/* Additional styles for the form inside the modal */
.modal-body label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-body input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.select-course {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-footer .btn-secondary {
  margin-right: 10px;
}
.table-container {
  overflow: auto;
  margin-bottom: 45px;
}
.tableDiv {
  overflow-x: auto;
}
.stacktable-td{
  min-width: 120px;
}
.courseTable {
  min-width: 170px !important;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.table-course{
  min-width: 300px;
}
.page-arrow{
  background-color: #b3d4fc;
}
.btn-add-student{
  width: 125px;
}

.content.blur {
  filter: blur(5px);
}
@media(max-width: 550px) {
  .input-search{
    width: 340px;
    margin-bottom: 2px;
  }
  
}
@media(max-width: 490px) {
  .input-search{
    width: 280px;
    margin-bottom: 15px;
  }
  
}
@media(max-width: 350px) {
  .input-search{
    width: 250px;
    margin-bottom: 15px;
  }
  
}
@media(max-width: 310px) {
  .input-search{
    width: 100%;
    margin-bottom: 15px;
  }
  
}
